body{
    font-family: 'Finlandica', sans-serif;
    margin: 0;
}
.first-title{
   font-size: 70px;
   font-weight: 1000;
   padding-top: 20px;
   margin: 50px;
}
.first-banner{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   width: 100%;
   color: blanchedalmond;
   text-align: center;
   background-image: url("./images/checkdonation13.png");
   background-repeat: no-repeat;
   background-size: cover;
}
.banner-text{
   font-size: 25px;
   margin: 50px;
}
.paragraph-text{
   color: rgba(116, 116, 116, 0.973);
   font-size: 20px;
   font-weight: 500;
   margin: 20px 200px;
}
.donate-title{
   font-size: 50px;
   font-weight: 700;
   /* text-align: center; */
   margin-bottom: 20px;
}
.second-banner{
   text-align: center;
   margin-top: 70px;
}
.third-banner{
   text-align: center;
   margin-top: 120px;
}
.donate-amount{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   padding-top: 50px;
}
.card-grey{
   color: rgba(100, 92, 92, 0.986);
   background-color: rgb(248, 248, 248);
   font-size: 40px;
   padding-top: 30px;
   width: 150px;
   height: 90px;
   border: 10px solid rgb(248, 248, 248);
   border-radius: 7px;
   /* margin: 500px solid rgb(102, 96, 96); */
   /*margin-left: 150px;*/
}
.card2{
   color: rgba(226, 22, 22, 0.986);
   background-color: rgba(255, 164, 148, 0.986);
   font-size: 40px;
   padding-top: 30px;
   width: 150px;
   height: 90px;
   border: 10px solid rgb(255, 99, 71);
   border-radius: 7px;
   margin: 500px solid rgb(102, 96, 96);
   margin-left: 50px;
}
.enter-text{
   padding-top: 50px;
   color: rgb(211, 211, 211);
}
#enter-text{
   border-bottom: 3px solid rgba(211, 211, 211, 0.932);
}
.banner-button{
   color: rgba(255, 255, 255, 0.925);
   font-size: 20px;
   background-color: rgba(218, 96, 75, 0.979);
   text-decoration: none;
   padding: 10px 20px;
   border-radius: 7px;
   margin: 20px;
}
.cards{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}
.card-food{
   background-color: rgba(235, 245, 242, 0.979);
   padding-top: 30px;
   padding-left: 10px;
   width: 280px;
   height: 250px;
   border-radius: 7px;
   text-align: left;   
}
.card-shelter{
   background-color: rgba(247, 196, 231, 0.952);
   padding-top: 30px;
   padding-left: 10px;
   width: 280px;
   height: 250px;
   border-radius: 7px;
   text-align: left;   
}
.card-education{
   background-color: rgb(250, 220, 164);
   padding-top: 30px;
   padding-left: 10px;
   width: 280px;
   height: 250px;
   border-radius: 7px;
   text-align: left;   
}
.card-paragraph{
   color: rgba(116, 116, 116, 0.973);
   font-size: 15px;
}
.contribute1{
   display: flex;
   margin: 200px 20px 200px 150px;
}
.contribute2{
   display: flex;
   margin: 200px 20px 200px 150px;
}
.contribute-title{
   color: rgba(26, 2, 2, 0.993);
   font-size: 50px;
   font-weight: 900;
}
.contribute-text{
   color: rgba(116, 116, 116, 0.973);
   font-size: 15px;
   padding-bottom: 20px;
}
.image-edit1{
   margin-right: 500px;
   width: 90%;
   border-radius: 7px;
}
.image-edit2{
   width: 100%;
   border-radius: 20px;
}
.updates{
   text-align: center;
   margin-top: 120px;
}
.email-sub{
   margin: 100px 187px;
   background-color: rgba(255, 233, 202, 0.979);
   padding: 100px 150px;
   display: flex;
   flex-direction: row;
   justify-content: center;
}
.email{
   margin: -10px;
   padding: 10px 50px;
   color: rgba(20, 79, 138, 0.993);
   background-color: rgba(211, 211, 211, 0.993);
   font-size: 15px;
   font-weight: 800;
}
.subscribe-button{
   color: rgba(255, 255, 255, 0.925);
   font-size: 20px;
   background-color: rgba(218, 96, 75, 0.979);
   text-decoration: none;
   padding: 10px 50px;
   border-radius: 2px;
}
.foot{
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   color: aliceblue;
   background-image: url("./images/black-clear.png");
}
.footer-heading{
   color: rgba(219, 78, 53, 0.979);
   font-size: 40px;
   font-weight: 1000;
   font-family: 'Dancing Script', 'cursive';
}