body{
    font-family: 'Finlandica', sans-serif;
    margin: 0;
}
.first-title{
   font-size: 70px;
   font-weight: 1000;
   padding-top: 20px;
   margin: 50px;
}
.first-banner{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   width: 100%;
   color: blanchedalmond;
   text-align: center;
   background-image: url("./images/checkdonation13.png");
   background-repeat: no-repeat;
   background-size: cover;
}
.paragraph-text{
   font-size: 25px;
   margin: 50px;
}
.second-title{
   font-size: 50px;
   font-weight: 700;
   /* text-align: center; */
   margin-bottom: 20px;
}
.second-banner{
   text-align: center;
   margin-top: 70px;
}
.donate-amount{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}
.card-grey{
   color: rgba(100, 92, 92, 0.986);
   background-color: rgb(248, 248, 248);
   font-size: 40px;
   padding-top: 30px;
   width: 150px;
   height: 90px;
   border: 10px solid rgb(248, 248, 248);
   border-radius: 7px;
   /* margin: 500px solid rgb(102, 96, 96); */
   /*margin-left: 150px;*/
}
.card2{
   color: rgba(226, 22, 22, 0.986);
   background-color: rgba(255, 164, 148, 0.986);
   font-size: 40px;
   padding-top: 30px;
   width: 150px;
   height: 90px;
   border: 10px solid rgb(255, 99, 71);
   border-radius: 7px;
   margin: 500px solid rgb(102, 96, 96);
   margin-left: 50px;
}
.enter-text{
   padding-top: 50px;
   color: lightgray;
}
.banner-button{
   color: rgba(255, 255, 255, 0.925);
   font-size: 20px;
   background-color: rgba(218, 96, 75, 0.979);
   text-decoration: none;
   padding: 10px 20px;
   margin: 20px;
   border-radius: 7px;
}
.foot{
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   color: aliceblue;
   background-image: url("./images/black-clear.png");
}
.footer-heading{
   color: rgba(219, 78, 53, 0.979);
   font-size: 40px;
   font-weight: 1000;
   font-family: 'Dancing Script', 'cursive';
}